<h1>Form duplicate</h1>
<label>API Key</label>
<input type="text" id="input_api_key"></input>
<div>
    <input type="text" id="input_string_0"></input>
    <input type="text" id="input_string_1"></input>
    <input type="text" id="input_string_2"></input>
    <input type="text" id="input_string_3"></input>
    <input type="text" id="input_string_4"></input>
</div>
<button id="btn_show_duplicate">Show duplicate</button>
