<h1>Form duplicate</h1>

<div class="col-md-12 row">
    <div class="col-md-2">
        <label>API Key</label>
    </div>
    <div class="col-md-8">
        <input type="text" id="input_api_key"></input>
    </div>
</div>
<div class="col-md-12">
    <br/>
    <div id="div_container_input">

    </div>
    <br/>
</div>
<div class="col-md-12 row">
    <div class="col-md-3">
        <button class=" btn btn-primary" id="btn_add_input">Add String</button>
    </div>
    <div class="col-md-3">
        <button class=" btn btn-success" id="btn_show_duplicate">Show duplicate</button>
    </div>

    <div class="col-md-2">
        <button class="btn btn-danger" id="btn_reset_input">Reset</button>
    </div>
</div>

<div id="div_container_result">
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
            <th>Word</th>
            <th>Positions</th>
            </tr>
        </thead>
        <tbody id="tb_result">

        </tbody>
    </table>
</div>
